header{
	margin-top: 0px;
    width: 100%;
    background-color: #D3D3D3;
    height: 100%;
}

h2, h1, button, h3 {
	text-transform: uppercase;
}

h2 {
	width: 100%;
}

h1 {
	margin-top: 0px;
	padding-top: 40.2px; 
}

.align-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

footer figure {
	border: 0;
	display: inline;
}

footer img{
	width: 10%;
	height: 20%;
}

figure {
	margin: 0;
}


footer {
	display: block;
	text-align: center;
	background-color: #595959;
	padding: 10px;	
	color: white;
}
footer p {
	flex-basis: 100%;
}
