input {
	display: block;
	margin:10px auto;
	width: 40%;
	height: 30px;
    font-size:20px;
    font-style: italic;
}

.buttonForm {
	font-size: 1em;
	display: inline-block;
	margin: 10px auto;
	border: 1px solid black;
	padding: 10px 20px;
	transition: 1s;
}

.buttonForm:hover {
	background-color: #595959;
}

label {
	margin: 10px auto;
}