@media (max-width: 600px) {
		
	.flex-container {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}	
	
	.container {
		width: 80%;
	}

	.flex-container article {
		flex-basis: 30%;
		margin: 5px auto;
	}

	.footer-section {
		flex-basis: 100%;
	}

	.flex-img {
    	width: 120px;
    	height: 100px;
	}

    .buttonSPuzzle{
		font-size: 0.8em;
		padding: 5px 10px;
		width: 100%;


	}
    .drag-drop{
    	width: 90%;
    	height:210px;
    }
    .gameS{
    margin-left: 3%;
}
	#game{
    margin-left: 0;
}
.buttonForm {
	margin: 6px auto;
	padding: 8px 16px;
	}


}

@media (min-width: 600px) {

	.flex-container {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}	

	.container {
		width: 80%;
	}

	.flex-container article {
		flex-basis: 40%;
	}

	.flex-img {
    	width: 200px;
    	height: 150px;
	}

	.buttonSPuzzle{
		font-size: 0.8em;
		padding: 5px 10px;
	}

	.footer-section {
		flex-basis: 100%;
	}

	article {
    	padding: 10px 10px;
	}
	.gameS{
    margin-left: 15%;

}

@media (min-width: 768px) {

	.flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}	

	.container {
		width: 700px;
	}

	.flex-container article {
		flex-basis: 30%;
	}

	.footer-section {
		flex-basis: 32%;
	}

	.flex-img {
    	width: 210px;
    	height: 150px;
	}

	.buttonSPuzzle{
		font-size: 1.4em;
		padding: 8px 10px;

	}
	#game{
    display: none;
    margin-left: auto;
}
	.drag-drop{
    	width: 500px;
    	height:320px;
    }
    .gameS{
    margin-left: 15%;
}
}

@media (min-width: 992px) {
	.flex-container {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	}	

	.puzzle {
		display:inline-block;
	}

	.container {
		width: 768px;
	}

	.flex-container article {
		flex-basis: 20%;
	}

	.footer-section {
		flex-basis: 32%;
	}
	
	.flex-img {
    	width: 210px;
    	height: 150px;
	}

	.buttonSPuzzle{
		font-size: 1.5em;
		padding: 10px 10px;
	}
	.drag-drop{
    	width: 600px;
    	height:350px;
    }
    .gameS{
    margin-left: 30%;
}
}

@media (min-width: 1200px) {
	.flex-container {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	}	

	.puzzle {
		display:inline-block;
	}

	.container {
		width: 1176px;
	}

	.flex-container article {
	flex-basis: 20%;

	}

	.footer-section {
	flex-basis: 32%;
	}

	.flex-img {
    width: 210px;
    height: 150px;
	}
	.drag-drop{
    	width: 450px;
    	height:350px;
    }
	
}