* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
    margin: 0px;
}

#choose2 {
    display: none;
}

canvas {
    border: 2px solid black;
}

.container {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 1192px;
}

article {
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

#text-in-head {
    font-size: 60px;
    text-align: center;
    color: black;
}

#content {
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
}

.headerImage {
    visibility: hidden;
    position: absolute;
    margin: auto;
    font-size: 1.5em;
}

.puzzle:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.1, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.puzzle:hover .buttonSPuzzle {
    display: block;
    visibility: visible;
}

.puzzle:hover .flex-img {
    opacity: 0.3;
}

.puzzle:hover .headerImage {
    visibility: visible;
}

.puzzle:hover .buttonSPuzzle:hover {
    cursor: pointer;
    background-color: #595959;
}

.buttonSPuzzle {
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 30%;
    width: 90%;
    margin-bottom: -20%;
    margin-top: 10px;
    color: black;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    margin: 1 auto;
    border: 1px solid black;
    padding: 10px 20px;
    background-color: white;
}

#puzzles {
    display: block;
    margin: auto;
}

#game {
    display: none;
    margin-left: 5%;
}

.drag-drop {
    height: 350px;
    width: 450px;
    margin-top: 20px;
    border: solid 2px;
    border-color: black;
    display: inline-block;
}

.drop {
    height: 350px;
    width: 450px;
    margin-top: 20px;
    border: solid 2px;
    border-color: black;
    display: inline-block;
}

.gameS {
    margin-left: 30%;
}

.toNone {
    display: none;
}